<% if review.favorited_by?(current_user) %>
  <div class="my-auto col-sm text-right">
    <%= link_to review_path(review.id) do %>
      <i class="far fa-comment-alt"></i> <%= review.post_comments.count %>
    <% end %>
    <%= link_to review_favorites_path(review), remote: true, method: :delete do %>
      <i class="fas fa-heart"></i> <%= review.favorites.count %>
    <% end %>
  </div>
  <% else %>
  <div class="my-auto col-sm text-right">
    <%= link_to review_path(review.id) do %>
      <i class="far fa-comment-alt"></i> <%= review.post_comments.count %>
    <% end %>
    <%= link_to review_favorites_path(review), remote: true, method: :post do %>
      <i class="far fa-heart"></i> <%= review.favorites.count %>
    <% end %>
  </div>
<% end %>