<div class="container col-lg-4">
  <h1>Review</h1>
  <!--新規投稿-->
  <%= form_with model:@new_review, local:true do |f| %>
  <div class="card mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="form-group">
        <%= f.text_field :title, placeholder:"Title", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_area :body, placeholder:"Body", class:"form-control" %>
      </div>
      <% if user_signed_in? %>
      <div class="text-right">
        <%= f.submit "Post a review", class:"btn btn-outline-secondary" %>
      </div>
      <% else %>
      <div class="text-right">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <!--投稿一覧-->
  <% @review.reverse_each do |review| %>
    <!--レビュー-->
    <div class="card mx-auto my-4 shadow-lg">
      <%= link_to review_path(review.id), class: "text-dark" do %>
      <div class="card-body">
        <p>Title</p>
        <p class="alert alert-secondary" role="alert"><%= review.title %></p>
        <p>Body</p>
        <p class="alert alert-dark" role="alert"><%= review.body %></p>
      </div>
      <% end %>
      
      <div class="card-footer">
        <div class= "row" >
          <!--投稿者・投稿日-->
          <div class="my-auto col-sm">by <%= review.user.name %> <%= review.created_at.to_s(:datetime_jp) %></div>
          <!--いいね・コメント-->
          <% if review.favorited_by?(current_user) %>
            <div class="my-auto col-sm text-right">
              <%= link_to review_path(review.id) do %>
              <i class="far fa-comment-alt"></i> <%= review.post_comments.count %>
              <% end %>
              <%= link_to review_favorites_path(review), method: :delete do %>
              <i class="fas fa-heart"></i> <%= review.favorites.count %>
              <% end %>
            </div>
            <% else %>
            <div class="my-auto col-sm text-right">
              <%= link_to review_path(review.id) do %>
              <i class="far fa-comment-alt"></i> <%= review.post_comments.count %>
              <% end %>
              <%= link_to review_favorites_path(review), method: :post do %>
              <i class="far fa-heart"></i> <%= review.favorites.count %>
              <% end %>
            </div>
          <% end %>
        </div>
        
      </div>
      
    </div>
    
  <% end %>
    
    
</div>
